*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    background-color: aqua;
}

.flex-content{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.second-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    width: 50%;
}
.result-content{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 10px;
    width: 50%;
}

.result-content h4{
    align-self: flex-end;
}

.button-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 50%;
    border: 5px solid red;
}